<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [20]:
# Your code here
#importing Libraries
import numpy as np
import random
#Generating random numbers between 1 to 100
mylist = []

for i in range(0,12):
    x = random.randint(1,100)
    mylist.append(x)


print("12 Random Numbers between 1 to 100:\n", mylist)
print("\n")

# Ascending order
ascending_sort=sorted(mylist)
print("Ascending Order:\n", ascending_sort)
print("\n")

#Descending order
descending_sort=sorted(mylist, reverse=True)
print("Descending Order:\n" , descending_sort)
print("\n")

#mean
print("The average of 12 numbers is:", round(np.mean(mylist),2))

12 Random Numbers between 1 to 100:
 [78, 87, 76, 32, 65, 32, 92, 43, 91, 75, 43, 64]


Ascending Order:
 [32, 32, 43, 43, 64, 65, 75, 76, 78, 87, 91, 92]


Descending Order:
 [92, 91, 87, 78, 76, 75, 65, 64, 43, 43, 32, 32]


The average of 12 numbers is: 64.83

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [21]:
# Your code here
import re
#2(1)
# taking inputs from user
sent1=input("enter first sentence:\n ")
sent2=input("enter second sentence:\n ")

enter first sentence:
 Hi I am Anusha! I am writing my first Python program
enter second sentence:
 I am loving python:) and my first program got executed;);)

In [22]:
#2(2)
reg_exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
statement1= re.findall(reg_exp,sent1)
statement2= re.findall(reg_exp,sent2)
list=statement1+statement2
print(" final list of elements is :  ",  list)

 final list of elements is :   ['Hi', 'I', 'am', 'Anusha', '!', 'I', 'am', 'writing', 'my', 'first', 'Python', 'program', 'I', 'am', 'loving', 'python', ':)', 'and', 'my', 'first', 'program', 'got', 'executed', ';);)']

In [23]:
# 2(3) 
# Comparing two sentences 
print()
for char1 in statement1:
  for char2 in statement2:
    if char1==char2:
      print("The list of words that occur in both sentences are : ", char1)

The list of words that occur in both sentences are :  I
The list of words that occur in both sentences are :  am
The list of words that occur in both sentences are :  I
The list of words that occur in both sentences are :  am
The list of words that occur in both sentences are :  my
The list of words that occur in both sentences are :  first
The list of words that occur in both sentences are :  program

In [24]:
# 2(4)
# working with punctuations
punctuations=[':',';',',','.','!','$','@','#','%']
final_statment=""
for item in list:
  if item not in punctuations:
    final_statment=final_statment + item

print("Printing final statement with out punctuation : " , final_statment)

Printing final statement with out punctuation :  HiIamAnushaIamwritingmyfirstPythonprogramIamlovingpython:)andmyfirstprogramgotexecuted;);)

In [25]:
# 2(5)
# Counting vowels
vowels_count = {}
statment = sent1.lower()+ sent2.lower()

for item in "aeiou":
  vowels_count[item]=statment.count(item)

print("The number of times vowel appears in each sentences:")
vowels_count

The number of times vowel appears in each sentences:

{'a': 8, 'e': 3, 'i': 9, 'o': 6, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [26]:
# Your code here
# Mathematical Computation

from math import pi
print("Calculate volume : " )
#iterating through radius range 1-11
for r in range(1,11):
  Volume =(4/3)* pi * r**3
  print(r," - ",Volume)

Calculate volume :
1  -  4.1887902047863905
2  -  33.510321638291124
3  -  113.09733552923254
4  -  268.082573106329
5  -  523.5987755982989
6  -  904.7786842338603
7  -  1436.7550402417319
8  -  2144.660584850632
9  -  3053.6280592892786
10  -  4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [27]:
# Your code here
#importing libraries
import pandas as pd

# reading csv file 
df=pd.read_csv("/content/Assignment1_denton_housing.csv",index_col="year")
print(df)

                 title_field  value
year
2014     Total Housing Units  49109
2014    Vacant Housing Units   2814
2014  Occupied Housing Units  46295
2013     Total Housing Units  47888
2013    Vacant Housing Units   4215
2013  Occupied Housing Units  43673
2012     Total Housing Units  45121
2012    Vacant Housing Units   3013
2012  Occupied Housing Units  42108
2011     Total Housing Units  44917
2011    Vacant Housing Units   4213
2011  Occupied Housing Units  40704
2010     Total Housing Units  44642
2010    Vacant Housing Units   3635
2010  Occupied Housing Units  41007
2009     Total Housing Units  39499
2009    Vacant Housing Units   3583
2009  Occupied Housing Units  35916
2008     Total Housing Units  41194
2008    Vacant Housing Units   4483
2008  Occupied Housing Units  36711
2014          Owner Occupied  21427
2014         Renter Occupied  24868
2013          Owner Occupied  20845
2013         Renter Occupied  22828
2012          Owner Occupied  20068
2012         Renter Occupied  22040
2011          Owner Occupied  18478
2011         Renter Occupied  22226
2010          Owner Occupied  18867
2010         Renter Occupied  22140
2009          Owner Occupied  18057
2009         Renter Occupied  17859
2008          Owner Occupied  17340
2008         Renter Occupied  19371
2014       Median Gross Rent    905
2013       Median Gross Rent    887
2012       Median Gross Rent    842
2011       Median Gross Rent    821
2010       Median Gross Rent    780
2009       Median Gross Rent    769
2008       Median Gross Rent    768

In [28]:
# Program to calculate the difference in the number of Occupied Housing Units from year to year and print it
#calculating difference in the number of Occupied Housing Units from year to year 
# 4(1)
# organising data declaring the index
df.sort_index(axis=0,ascending=True,inplace=True)
df_sort=df[df.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
df_to_sort=df_sort.reset_index()

data_Frame=df_to_sort[["year","value"]].values

list_new=[]
# Iterating  data frame and copying to new list by difference between 2 rows
for item in range(len(data_Frame)-1):
  list_new.append(data_Frame[item+1][1]-data_Frame[item][1])
list_new

# Printing values depicting the consecutive years
print("Consecutive years \t Difference value")
for item in range(2008,2014):
  print(item,"-",item+1," ---------->",list_new[item-2008])

print("\n")

#Printing the ascending order based on the difference values

data_2 = [['2008-2009', -795],['2009-2010', 5091],['2010-2011', -303],['2011-2012', 1404],['2012-2013', 1565],['2013-2014', 2622]]  
B = pd.DataFrame(data_2, columns = ['Consecutive years',  'Difference value'])
sorted_frame = B.sort_values('Difference value') 

print("The Ascending order of the difference value for consecutive years is:\n")

print(sorted_frame)

Consecutive years 	 Difference value
2008 - 2009  ----------> -795
2009 - 2010  ----------> 5091
2010 - 2011  ----------> -303
2011 - 2012  ----------> 1404
2012 - 2013  ----------> 1565
2013 - 2014  ----------> 2622


The Ascending order of the difference value for consecutive years is:

  Consecutive years  Difference value
0         2008-2009              -795
2         2010-2011              -303
3         2011-2012              1404
4         2012-2013              1565
5         2013-2014              2622
1         2009-2010              5091

In [29]:
# 4(2)
# calculate the percentage of housing units which are vacant an occupied
df.reset_index(inplace=True)
units_occupied =[]
units_vacant =[]

#appending the number units to vacant units and occupied units based on title of housing units
for i in range(2008,2015):
  units_occupied.append((df[(df["year"]==i) & (df["title_field"]=="Occupied Housing Units")].value.values)/(df[(df["year"]==i) & (df["title_field"]=="Total Housing Units")].value.values))
  units_vacant.append((df[(df["year"]==i) & (df["title_field"]=="Vacant Housing Units")].value.values)/(df[(df["year"]==i) & (df["title_field"]=="Total Housing Units")].value.values))

#Printing the percentage of vacant and occupied housing units 
print("Year \t Occupied Units \t Vacant Units")
for i in range(2008,2015):
  print(i,"\t\t","{0:.0f}%".format(units_occupied[i-2008][0]*100) , "\t\t\t", "{0:.0f}%".format(units_vacant[i-2008][0]*100))

Year 	 Occupied Units 	 Vacant Units
2008 		 89% 			 11%
2009 		 91% 			 9%
2010 		 92% 			 8%
2011 		 91% 			 9%
2012 		 93% 			 7%
2013 		 91% 			 9%
2014 		 94% 			 6%

In [30]:
# 4(3)
# Calculate and print the valued and years in which the highest number of housing units were vacant and occupied
occupied_list=[]
vacant_list=[]

for i in range(2008,2015):
  occupied_list.append(units_occupied[i-2008][0])
  vacant_list.append(units_vacant[i-2008][0])

print("\t\t\t Year\t Value")

#calculating max of vacant housing units    
for i in enumerate(units_vacant,start=2008):
      #printing in given format
  if(i[1][0]==max(vacant_list)):
    print("Vacant Housing Units \t",i[0],"\t",(df[(df.year==i[0])&(df.title_field=="Vacant Housing Units")].value.values)[0])
    break
    
#calculating max of occupied housing units
for i in enumerate(units_occupied,start=2008):
  if(i[1][0]==max(occupied_list)):
    #printing in given format
    print("Occupied Housing Units \t",i[0],"\t",(df[(df.year==i[0])&(df.title_field=="Occupied Housing Units")].value.values)[0])
    break

			 Year	 Value
Vacant Housing Units 	 2008 	 4483
Occupied Housing Units 	 2014 	 46295

In [31]:
# 4(4)
#Calculate the harmonic mean of the total housing units
from scipy import stats

df[df.title_field=="Total Housing Units"].value.values

print(df[df.title_field=="Total Housing Units"].value.values)
print("The harmonic mean calculated :\n")
stats.hmean(df[df.title_field=="Total Housing Units"].value.values)

[41194 39499 44642 44917 45121 47888 49109]
The harmonic mean calculated :

44398.28543969185